<h2>Get current locale</h2>
<p>Hello, I'm currently using the locale: {{localeID}}</p>
<dl>
  <dt>Number</dt>
  <dd>{{ number | number }}</dd>
  <dt>Price</dt>
  <dd>{{ number | currency:'EUR':'symbol' }}</dd>
</dl>

<h2>Date Formatter</h2>
<dl>
  <dt>Raw Date</dt>
  <dd>{{date}}</dd>
  <dt>Using formatter date:'fullDate'</dt>
  <dd>{{date | date:'fullDate' }}</dd>
</dl>

<h3>Throw Test</h3>
<p>{{iWillThrowAnError()}}</p>

<h3>Form Test</h3>
<form [formGroup]="form">
  <select title="" [formControl]="form.controls['enum']">
    <option [ngValue]="TestEnum.first">First Option with [ngValue]</option>
    <option [value]="TestEnum.second">Second Option with [value]</option>
    <option value="{{TestEnum.third}}">Third Option with value=""</option>
  </select>
  <h3>Form Number Control Test</h3>
  <div>
    <label>Number</label>
    <input type="number" formControlName="number">
    <div>
      This form is {{ form.status }}
    </div>
  </div>
  <button (click)="onSubmit(form.value)">Submit</button>
</form>
